In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score,classification_report,mean_absolute_error
import joblib
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [16]:
data=pd.read_csv("titanic.csv")
data.head()
data['Gender']=data['Sex'].apply(lambda x:1 if x=="male" else 0)
data=data.drop(['PassengerId','Name','Cabin','Embarked','Ticket','Sex'],axis=1)
data=data.dropna()

df=pd.get_dummies(data,columns=['Gender'])
del df['Survived']

x=df.values
y=data['Survived'].values


X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
#clf=DecisionTreeClassifier(max_leaf_nodes=15)
#clf=DecisionTreeClassifier()
clf=GradientBoostingClassifier()

clf.fit(X_train, y_train)
predictions = clf.predict(X_test) 
l=accuracy_score(y_test,predictions)
#m=classification_report(y_test,predictions)
print(l)
m=classification_report(predictions,y_test)
print(m)

0.813953488372093
              precision    recall  f1-score   support

           0       0.88      0.81      0.84       133
           1       0.73      0.82      0.77        82

    accuracy                           0.81       215
   macro avg       0.80      0.81      0.81       215
weighted avg       0.82      0.81      0.82       215

In [26]:
l=clf.feature_importances_
l

array([0.15651019, 0.17117308, 0.04577179, 0.00304838, 0.19649227,
       0.12967248, 0.29733181])

In [27]:
m=df.columns

lots=pd.DataFrame({"name":m,"percentage":l})
lots.set_index("name")

          percentage
name
Pclass      0.156510
Age         0.171173
SibSp       0.045772
Parch       0.003048
Fare        0.196492
Gender_0    0.129672
Gender_1    0.297332